body {
  background-color: #FFEA57;
  padding:0px;
  margin:0px;
}

.header {
  background-color: #2404DB;
  width:100%;
  margin-bottom:15px;
  display:flex;
  justify-content:space-between;
  color:white;
  align-items:center;
  padding:15px;
  box-sizing: border-box;
  flex-wrap:wrap;
}

.content {
width:100%;
max-width:960px;
}

.wrapper {
  width:100%;
}
.container {
 max-width:960px;
 width:100%;
 margin-left:auto;
 margin-right:auto;
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between;
 align-items:flex-start;
}

.body1 {

padding:20px;
flex:0 1 auto !important;
height:100%;
width:30%;

}

.body1 p {
  padding-top:15px;
  padding-bottom:15px;
  padding-left:10px;
  padding-right:10px;
  margin-right:15px;
  background-color:#f2f2f2;
}

.body2 {
background-color: #f2f2f2;

flex-grow: 1 ;
flex-shrink:0 ;



padding:20px;
}

.testudo-image {
  border: 1px solid rgba(0,0,0,0.5);
  max-width:100%;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
.body {
   display:block;
}

.body1 {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;

}

.body1 img {
  flex:1 !important;
  max-width:100% !important;
}

.body1 p {
  flex:2 !important;
}
}