/*
Paragraph Font Style: font-family: 'Open Sans', sans-serif;
Header Font Style: font-family: 'Proza Libre', sans-serif;
*/

body {
  background-color: #FFEA57;
  padding:0px;
  margin:0px;
}

.header {
  background-color: #2404DB;
  width:100%;
  margin-bottom:15px;
  display:flex;
  justify-content:space-between;
  color:white;
  align-items:center;
  padding:15px;
  box-sizing: border-box;
  flex-wrap:wrap;
}

.header h1 {
  font-family: 'Proza Libre', sans-serif
}

.content {
width:100%;
max-width:960px;
}

.body2 h2 {
  font-family: 'Proza Libre', sans-serif;
}

.body2 p {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width:100%;
}
.container {
 max-width:960px;
 width:100%;
 margin-left:auto;
 margin-right:auto;
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between;
 align-items:flex-start;
}

.body1 {

padding:20px;
flex:0 1 auto !important;
height:100%;
max-width:30%;
margin-right:15px;
}

.body1 p {
  font-family: 'Open Sans', sans-serif;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:10px;
  padding-right:10px;
  margin-right:0px;
  background-color:#f2f2f2;
}

.body2 {
  background-color: #f2f2f2;
  margin-right:15px;
  flex: 1;
  width:70%;
  padding:20px;
}

.testudo-image {
  border: 1px solid rgba(0,0,0,0.5);
  width:100%;
  max-width:195px;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
.body {
   display:block;
}

.body1 {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  flex: 1 0 auto !important;
  margin-right:0px;

}

.container {
  justify-content:center !important;
  
}

.body1 img {
  flex:1 !important;
  max-width:50% !important;
}

.body1 p {
  flex:2 !important;
}

.ul-list column {
  font-family: 'Open Sans';
}
}